<div class="row">
  <div class="col-lg-12 text-center">
    <h2><%- T('Receive Addresses') %></h2>
      <hr>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div id="addresses">
      <% if(data.addresses.length == 0) {%>
        <h4><%- T('No receive address yet.') %></h4>
      <% } else { %>
        
        <div class="hidden-lg hidden-md">
          <% for(var i=0;i<data.addresses.length;i++) { %>
          <div class="row">
            <div class="col-md-6">
              <div>
                <strong><%- data.addresses[i].name || T('No Label') %></strong>
                <span class="addExchangePrice pull-right" style="color: #33CC33;">
                  <%- data.balances[data.addresses[i].address] || 0 %> <%- richwallet.config.networkConfigs[data.addresses[i].network].currency %>
                </span>
              </div>
              <div><%- data.addresses[i].address %></div>
              
              <div><a href="#/addresses/request/<%- data.addresses[i].address %>" class="btn btn-primary"><i class="fa fa-qrcode"></i> Request Payment</a></div>
            </div>
          </div>
          <hr>
          <% } %>
        </div>
        
        <div class="visible-md visible-lg">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th><%- T('Label') %></th>
                <th><%- T('Address') %></th>
                <th><%- T('Network') %></th>
                <th>
		  <%- T('Balance') %>
                </th>
		<th>&nbsp;</th>
                <!--
                <th>Backups</th>
                <th>Receive QR Code</th>
                -->
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i<data.addresses.length; i++) { %>
                <% if(true || !data.addresses[i].isChange) { %>
                  <tr>
                    <td><%- data.addresses[i].name %></td>
                    <td><%- data.addresses[i].address %></td>
                    <td><%- T(data.addresses[i].network)  %></td>
                    <td>
                      <span class="addExchangePrice">
                        <%- data.balances[data.addresses[i].address] || 0 %>  <%- richwallet.config.networkConfigs[data.addresses[i].network].currency %>
                      </span>
                    </td>
                    <td>
                      <a href="#/addresses/request/<%- data.addresses[i].address %>" class="btn btn-primary"><i class="fa fa-qrcode"></i> <%- T('Request Payment') %></a>
                      <!--
                      <a href="#" class="btn btn-info"><i class="fa fa-edit"></i> Edit Label</a>
                      <a href="#" class="btn btn-danger"><i class="fa fa-archive"></i> Archive</a>
                      -->
                    </td>
                    <!--
                    <td>Create Paper Wallet</td>
                    <td>Generate</td>
                    -->
                  </tr>
                <% } %>
              <% } %>
            </tbody>
          </table>
        </div>

      <% } %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <h2><%- T('New Address') %></h2>
    <form onsubmit="richwallet.controllers.addresses.generateNewAddress($('#addressNetwork').val(), $('#addressLabel').val()); return false;">
      <div>
        <%- T('Label') %> <small>(<%- T('optional') %>)</small>: <input id="addressLabel" type="text" style="width: 200px">
	<select id="addressNetwork">
	  <% _.map(richwallet.config.sortedNetworks, function(network){ %>
	  <option value="<%- network %>"><%- T(network) %></option>
	  <% }); %>
	</select>
	<button class="btn btn-primary"><i class="fa fa-plus"></i> <%- T('Generate') %></button>
        <div id="newAddressDialog" class="alert alert-success alert-dismissable hidden">
          <button type="btn" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <span id="newAddressMessage"></span>
        </div>
      </div>
    </form>
  </div>
</div>
