<div class="contaniner">
  <div class="row text-center">
	<h3><%- T('Contact Us') %></h3>
	<hr>
	<div class="col-sm-6 col-sm-offset-3">

	  <p class="text-left"><span> <i class="fa fa-qq"></i> <%- T('Customer QQ: ') %> </a> <a href="tencent://message/?uin=2190034774&Site=openblock;Menu=yes">2190034774</a></span></p>
	  <p class="text-left"><span> <i class="fa fa-qq"></i> <%- T('QQ Group: ') %> <a href="tencent://message/?uin=2190034774&Site=openblock;Menu=yes">209494920</a></span></p>
	  <p class="text-left"><span> <i class="fa fa-envelope-o"> <%- T('Customer Email: ') %> <a href="mailto:2190034774@qq.com"> 2190034774@qq.com</a> </i> </span></p>
	  </br>
	  <p class="text-left"><span>	  <%- T('If you think OpenBlock is interesting and useful, please make a donation for us') %> </span></p>
	  <p class="text-left">  <small id="donationAddresses">
		  <div class="text-left">
		  <ul >
			<li><%- T('Bitcoin') %> <a href="#/tx/sendto/1DncsLaFZLxC2kJjDSjYPTReGmv1msM1HB">1DncsLaFZLxC2kJjDSjYPTReGmv1msM1HB</a> </li>
			<li><%- T('Litecoin') %> <a href="#/tx/sendto/LTUH6WdYxVE8m9gfLYaAzZLSf4j6y5aFv1">LTUH6WdYxVE8m9gfLYaAzZLSf4j6y5aFv1</a> </li>
			<li><%- T('Dogecoin') %> <a href="#/tx/sendto/DG2s9zodFbqcmh4XNPbDbf3BQcXiMPNebF">DG2s9zodFbqcmh4XNPbDbf3BQcXiMPNebF</a> </li>
		 </ul>
		  </div>
		</small>
	  </p>
	</div>
  </div>  
