<div class="row">
  <div class="col-lg-9 col-lg-offset-1">
  <% if(!richwallet.usingAuthKey) { %>
  <div class="alert alert-info hidden-xs hidden-sm" style="margin-top:10px;"><%= T('Two factor authentication allows you to require a code from your phone from Login. It increases your security level drastically. Make <a href="#/account/settings">two factor authenticaton</a> is highly recommended.') %></div>
  <% } %>


    <% var successMessage = richwallet.database.getSuccessMessage(); %>
    <% if(successMessage) { %>
    <div class="alert alert-success alert-dismissable" style="margin-top: 20px">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%- successMessage %>
    </div>
    <% } %>
  </div>
</div>

<div class="row">
<!--
  <div class="col-lg-3 hidden-xs hidden-sm">
    <h3><%- T('Transactions') %></h3>
  </div>
-->

<div class="row">
  <div class="col-lg-12">
    <div id="currencyBalances"></div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div id="allTransactions"><span class="loading" style="display:none"><%- T('Loading') %>...</span></div>
  </div>
</div>

<!--

<div class="row">
  <div class="col-lg-12">
    <div id="receivedTransactions"><span class="loading" style="display:none"><%- T('Loading') %>...</span></div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div id="sentTransactions"></div>
  </div>
</div>
-->
