<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
  <% if(false && !richwallet.usingAuthKey) { %>
  <div class="alert alert-info hidden-xs hidden-sm" style="margin-top:10px;"><%= T('twofactor.alert') %></div>
  <% } %>

  </div>
</div>

<div class="row">
<!--
  <div class="col-lg-3 hidden-xs hidden-sm">
    <h3><%- T('Transactions') %></h3>
  </div>
-->

<div class="row">
  <div class="col-lg-12">
    <div id="currencyBalances"></div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div id="allTransactions">
      <div class="loading text-center" style="display:none; margin: 10px auto;"><%- T('Loading') %>...</div>
    </div>
  </div>
</div>

<!--

<div class="row">
  <div class="col-lg-12">
    <div id="receivedTransactions"><span class="loading" style="display:none"><%- T('Loading') %>...</span></div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div id="sentTransactions"></div>
  </div>
</div>
-->
