<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <em><a href="#/" class="navbar-brand">OneWallet <span class="text-warning" style="vertical-align:top; font-size:13px;">BETA<span></a></em>
  </div>
  <nav class="collapse navbar-collapse" role="navigation" id="navbar-collapse">
    <ul class="nav navbar-nav">
      <% if(richwallet.wallet) { %>
        <li><a href="#/dashboard"><i class="fa fa-bars"></i> <%- T('Transactions') %></a></li>
        <li><a href="#/addresses/list"><i class="fa fa-arrow-down"></i> <%- T('Receive') %></a></li>
        <li><a href="#/tx/send"><i class="fa fa-arrow-up"></i> <%- T('Send') %></a></li>
        <li class="hidden-xs hidden-sm"><a href="#/backup"><i class="fa fa-download"></i> <%- T('Backup') %></a></li>
      <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if(richwallet.wallet) { %>
        <li><a href="#/account/settings"><strong><i class="fa fa-user"></i> <%- richwallet.wallet.walletId %></strong></a></li>
        <li><a href="#/signout" onclick="if(!confirm('Realy quit?')){ return false;}"><i class="fa fa-sign-out"></i> <%- T('Signout') %></a></li>
      <% } else { %>
        <li><a href="#/signup"><i class="fa fa-sign-in"></i> <%- T('Signup') %></a></li>
      <% } %>
    </ul>
  </nav>
</header>
