<div class="row">
  <div class="col-lg-12 text-center">
    <h3><%- T('Signup - Create a New Wallet') %></h3>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-lg-6" style="padding-top: 0">
    <%= T('signup.alert') %>
  </div>
  
  <div class="col-lg-6" style="padding-top: 10px">
    <div class="col-lg-8 col-lg-offset-2">
      <form action="#" onsubmit="return false;" autocorrect="off" autocomplete="off" autocapitalize="off" class="form-horizontal" role="form">
    
        <div class="form-group">
          <div id="errors" class="alert alert-danger hidden"></div>
        </div>
    
        <div class="form-group">
          <label for="email" class="control-label"><%- T('Email Address') %></label>
          <input id="email" type="email" placeholder="<%- T('Your email') %>" class="form-control" value="<%- data.email %>">
        </div>

        <div class="form-group hidden">
          <label for="password" class="control-label"><%- T('Password') %></label>
          <input id="password" name="password" type="password" placeholder="<%- T('Create a password') %>" autocomplete="off" onfocus="richwallet.controllers.accounts.passwordStrength.enable()" class="form-control">
        </div>
    
        <div class="progress progress-striped hidden">
          <div id="progressBar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span id="passwordStrengthStatus" class="sr-only" style="color: #000000; padding-left: 10px">Weak</span>
          </div>
        </div>
    
        <div class="form-group hidden">
          <label for="password_confirm" class="control-label"><%- T('Confirm your password') %></label>
          <input id="password_confirm" type="password" placeholder="<%- T('Confirm your password') %>" autocomplete="off" onfocus="richwallet.controllers.accounts.passwordStrength.enable()" class="form-control">
        </div>

        <div class="form-group hidden">
          <label for="email_active_code" class="control-label"><%- T('Email Activation Code') %></label>
          <input id="email_active_code" type="text" placeholder="<%- T('Input the activate code to ensure a real email.') %>" autocomplete="off" class="form-control" value="<%- data.actcode %>">
        </div>
    
        <div>
          <button id="createAccountButton" class="btn btn-large btn-success" href="#" style="margin-top: 10px" onclick="richwallet.controllers.accounts.create(); return false"><i class="fa fa-user"></i> <%- T('Create Account') %></button>
        </div>
    
      </form>
    </div>
  </div>
</div>
