<h2><%- T('Sent') %></h2>

<% if(data.tx.length == 0) {%>

  <h4><%- T('No transaction yet.') %></h4>

<% } else { %>
  <div class="visible-xs visible-sm">
    <% for(var i=0; i<data.tx.length; i++) { var tx=data.tx[i]; %>
      <hr>
      <div class="row" onclick="window.open('#/tx/details/<%- tx.network %>/<%- tx.hash %>','_self')">
        <div class="col-md-6">
          <strong><%- humaneDate(new Date(tx.time).toISOString()) %></strong>
          <span class="receivedExchangePrice addExchangePrice pull-right" style="color: #FE2E2E; margin-right: 10px; font-size: 12px; font-weight: bold"><%- tx.amount %> <%- richwallet.config.networkConfigs[tx.network].currency %></span>
        </div>
      </div>
      <div class="row" onclick="window.open('#/tx/details/<%- tx.network %>/<%- tx.hash %>','_self')">
        <div class="col-md-6">
          <div style="font-size: 10pt">
            <strong><%- richwallet.wallet.getAddressName(tx.address) || tx.address %></strong>
          </div>
          <div><%- tx.confirmations%> confirmations</div>
        </div>
      </div>
    <% } %>
  </div>

  <div class="visible-md visible-lg">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th><%- T('Recipient Address') %></th>
          <th><%- T('Amount') %></th>
          <th><%- T('Confirmations') %></th>
          <th><%- T('Sent Time') %></th>
          <th></th>
      </thead>
      <tbody>
        <% for(var i=0; i<data.tx.length; i++) { var tx=data.tx[i];%>
          <% 
            if(tx.type == 'receive')
              continue;
          %>
          
          <tr>
            <td>
              <a href="#/tx/sendto/<%- tx.address %>"><%- tx.address %></a>
	      (<%- T(tx.network) %>)
            </td>
            <td><span class="addExchangePrice"><%- tx.amount %>  <%- richwallet.config.networkConfigs[tx.network].currency %></span></td>
            <td>
              <%- tx.confirmations %>

              <% if(tx.confirmations == 0) { %>
                <span class="label label-warning pull-right" rel="tooltip" data-toggle="tooltip" title="Transaction has not yet been confirmed. You cannot safely spend this yet because you cannot be confident it isn't a double spend until it has been confirmed by the blockchain."><%- T('Pending (Unconfirmed)') %></span>
              <% } else if(tx.confirmations < richwallet.controllers.dashboard.minimumStrongSendConfirmations) { %>
                <span class="label label-info pull-right" rel="tooltip" data-toggle="tooltip" title="Transaction has had confirmations and is likely to be successful, but will be considered even more definitive after 6 confirmations. You may want to wait if you are transferring a large sum of money, just to be safe."><%- T('Soft Confirmed') %></span>
              <% } else if(tx.confirmations >= richwallet.controllers.dashboard.minimumStrongSendConfirmations) { %>
                <span class="label label-success pull-right" rel="tooltip" data-toggle="tooltip" title="Transaction has at least 6 confirmations. This is the standard most Bitcoin services use for confirming large transfers."><%- T('Strongly Confirmed') %></span>
              <% } %>
            </td>
            <td>
              <%- humaneDate(new Date(tx.time).toISOString()) %>
            </td>
            <td><a class="btn btn-primary" href="#/tx/details/<%- tx.network %>/<%- tx.hash %>"><i class="fa fa-info-circle"></i> <%- T('Details') %></a></td>
        <% } %>
      </tbody>
    </table>
  </div>

<% } %>
