<style>
.receivedExchangePrice small {
  margin-left: 5px;
}
</style>
<h3 class="m-header col-lg-12"><%- T('Transactions') %></h3>

<%
function addressLink(a){
   return '<a href="#/search/' + a + '">' + richwallet.utils.shortText(a, 6) + '</a>';
} 
%>

<% if(data.tx.length == 0) {%>

  <p><%- T('No transaction yet.') %></p>

<% } else { %>
  <div class="visible-xs visible-sm col-lg-12">
    <% for(var i=0; i<data.tx.length; i++) { var tx=data.tx[i]; %>
      <hr/>
      <div class="row">
        <div class="col-xs-12">
          <strong><%- humaneDate(new Date(tx.time).toISOString()) %></strong>
          <span class="receivedExchangePrice addExchangePrice pull-right" style="color: #33CC33; margin-right: 10px; font-size: 12px; font-weight: bold"><%- tx.amount %> <%- richwallet.config.networkConfigs[tx.network].currency %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div style="font-size: 10pt">
            <strong>
	      <% 
		 var t;
		 if(tx.type == "send") {
                   var address = tx.address;
		   if(tx.address instanceof Array) {
                      address = _.map(tx.address, addressLink).join(', ');
                   } else {
                      address = addressLink(address);
		   }
		   t = T('Sent to %s(%s)', address, T(tx.network));
		 }  else {
		   var address = richwallet.wallet.getAddressName(tx.address) || richwallet.utils.shortText(tx.address, 6);
		   t = T('Received from %s(%s)', address, T(tx.network));
		 }
		 %>
	      <%= t %>
	    </strong>
          </div>
          <div>
	    <a href="#/tx/details/<%- tx.network %>/<%- tx.hash %>"><%- T('%s confirmations', tx.confirmations>100? "100+":tx.confirmations) %></a>
         </div>
        </div>
      </div>
    <% } %>
  </div>
  
  <div class="visible-md visible-lg">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th><%- T('From/To Address') %></th>
          <th><%- T('Amount') %></th>
          <th><%- T('Confirmations') %></th>
          <th><%- T('Discovered')%></th>
          <th></th>
      </thead>
      <tbody>
        <% for(var i=0; i<data.tx.length; i++) { var tx=data.tx[i];%>
          <tr>
            <td>
	      <% 
		 var address = richwallet.wallet.getAddressName(tx.address) || tx.address;
		 var t ;
		 if(tx.type == "send") {
                   var address = tx.address;
		   if(tx.address instanceof Array) {
                      address = _.map(tx.address, addressLink).join(', ');
                   } else {
                      address = addressLink(address);
		   }
		   t = T('Sent to %s(%s)', address, T(tx.network));
		 }  else {
		   t = T('Received from %s(%s)', address, T(tx.network));
		 }
		 %>
	      <%= t %></td>
            <td><span class="addExchangePrice"><%- tx.amount %> <%- richwallet.config.networkConfigs[tx.network].currency %></span></td>
            <td>
              <%- tx.confirmations >100?"":tx.confirmations %>

              <% if(tx.confirmations == 0) { %>
                <span class="label label-warning pull-right" rel="tooltip" data-toggle="tooltip" title="Transaction has not yet been confirmed. You cannot safely spend this yet because you cannot be confident it isn't a double spend until it has been confirmed by the blockchain."><%- T('Pending (Unconfirmed)') %></span>
              <% } else if(tx.confirmations < richwallet.controllers.dashboard.minimumStrongSendConfirmations) { %>
                <span class="label label-info pull-right" rel="tooltip" data-toggle="tooltip" title="Transaction has had at least one confirmation and is likely to be successful, but will be considered even more definitive after 6 confirmations. You may want to wait if you are transferring a large sum of money, just to be safe."><%- T('Soft Confirmed') %></span>
              <% } else { %>
                <span class="label label-success pull-right" rel="tooltip" data-toggle="tooltip" title="Transaction has at least 6 confirmations. This is the standard most Bitcoin services use for confirming large transfers."><%- T('Strongly Confirmed') %></span>
              <% } %>
            </td>
            <td>
              <%- humaneDate(new Date(tx.time).toISOString()) %>
            </td>
            <td><a class="btn btn-link fix-btn" href="#/tx/details/<%- tx.network %>/<%- tx.hash %>"><i class="fa fa-info-circle"></i> <%- T('Details') %></a></td>
        <% } %>
      </tbody>
    </table>
  </div>
<% } %>
