@font-face {
  font-family: "Flat-UI-Icons";
  src: url('../fonts/flat-ui-icons-regular.eot');
  src: url('../fonts/flat-ui-icons-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/flat-ui-icons-regular.woff') format('woff'), url('../fonts/flat-ui-icons-regular.ttf') format('truetype'), url('../fonts/flat-ui-icons-regular.svg#flat-ui-icons-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.navbar-inverse{
  background-color:#0e67b5;
}

.navbar-fixed-top {
  top:0;
  border-bottom-width: 0px;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
  color: #fff;
}

.has-switch {
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
    line-height: 1.72222;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 80px;
    -webkit-mask: url(../images/switch/mask.png) 0 0 no-repeat;
    mask: url(../images/switch/mask.png) 0 0 no-repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}


.has-switch.deactivate {
    opacity: .5;
    filter: alpha(opacity=50);
    cursor: default !important
}

.has-switch.deactivate label, .has-switch.deactivate span {
    cursor: default !important
}

.has-switch>div {
    width: 130px;
    position: relative;
    top: 0
}

.has-switch>div.switch-animate {
    -webkit-transition: left .25s ease-out;
    transition: left .25s ease-out
}

.has-switch>div.switch-off {
    left: -50px
}

.has-switch>div.switch-off label {
    background-color: #7f8c9a;
    border-color: #bdc3c7;
    -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, .5);
    box-shadow: -1px 0 0 rgba(255, 255, 255, .5)
}

.has-switch>div.switch-on {
    left: 0
}

.has-switch>div.switch-on label {
    background-color: #1abc9c
}

.has-switch input[type=checkbox] {
    display: none
}

.has-switch span {
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    float: left;
    height: 29px;
    line-height: 19px;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 5px;
    position: relative;
    text-align: center;
    width: 50%;
    z-index: 1;
    -webkit-transition: .25s ease-out;
    transition: .25s ease-out
}

.has-switch span.switch-left {
    border-radius: 30px 0 0 30px;
    background-color: #34495e;
    color: #1abc9c;
    border-left: 1px solid transparent
}

.has-switch span.switch-right {
    border-radius: 0 30px 30px 0;
    background-color: #bdc3c7;
    color: #fff;
    text-indent: 7px
}

.has-switch span.switch-right [class*=fui-] {
    text-indent: 0
}

.has-switch label {
    border: 4px solid #34495e;
    border-radius: 50%;
    float: left;
    height: 29px;
    margin: 0 -15px;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 29px;
    z-index: 100;
    -webkit-transition: .25s ease-out;
    transition: .25s ease-out
}

.switch-square {
    border-radius: 6px;
    -webkit-mask: url(../images/switch/mask.png) 0 0 no-repeat;
    mask: url(../images/switch/mask.png) 0 0 no-repeat
}

.switch-square>div.switch-off label {
    border-color: #7f8c9a;
    border-radius: 6px 0 0 6px
}

.switch-square span.switch-left {
    border-radius: 6px 0 0 6px
}

.switch-square span.switch-left [class*=fui-] {
    text-indent: -10px
}

.switch-square span.switch-right {
    border-radius: 0 6px 6px 0
}

.switch-square span.switch-right [class*=fui-] {
    text-indent: 5px
}

.switch-square label {
    border-radius: 0 6px 6px 0;
    border-color: #1abc9c
}

.navbar-header a.unreadmsg {
    padding: 15px 8px 15px 8px;
    line-height: 20px;
    position: relative;
    display: inline-block;
    color: red;
}


@media (min-width: 768px){
.modal-sm {
    width: 300px;
}
}





.fui-arrow-right,
.fui-arrow-left,
.fui-cmd,
.fui-check-inverted,
.fui-heart,
.fui-location,
.fui-plus,
.fui-check,
.fui-cross,
.fui-list,
.fui-new,
.fui-video,
.fui-photo,
.fui-volume,
.fui-time,
.fui-eye,
.fui-chat,
.fui-search,
.fui-user,
.fui-mail,
.fui-lock,
.fui-gear,
.fui-radio-unchecked,
.fui-radio-checked,
.fui-checkbox-unchecked,
.fui-checkbox-checked,
.fui-calendar-solid,
.fui-pause,
.fui-play,
.fui-check-inverted-2 {
  display: inline-block;
  font-family: 'Flat-UI-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fui-arrow-right:before {
  content: "\e02c";
}
.fui-arrow-left:before {
  content: "\e02d";
}
.fui-cmd:before {
  content: "\e02f";
}
.fui-check-inverted:before {
  content: "\e006";
}
.fui-heart:before {
  content: "\e007";
}
.fui-location:before {
  content: "\e008";
}
.fui-plus:before {
  content: "\e009";
}
.fui-check:before {
  content: "\e00a";
}
.fui-cross:before {
  content: "\e00b";
}
.fui-list:before {
  content: "\e00c";
}
.fui-new:before {
  content: "\e00d";
}
.fui-video:before {
  content: "\e00e";
}
.fui-photo:before {
  content: "\e00f";
}
.fui-volume:before {
  content: "\e010";
}
.fui-time:before {
  content: "\e011";
}
.fui-eye:before {
  content: "\e012";
}
.fui-chat:before {
  content: "\e013";
}
.fui-search:before {
  content: "\e01c";
}
.fui-user:before {
  content: "\e01d";
}
.fui-mail:before {
  content: "\e01e";
}
.fui-lock:before {
  content: "\e01f";
}
.fui-gear:before {
  content: "\e024";
}
.fui-radio-unchecked:before {
  content: "\e02b";
}
.fui-radio-checked:before {
  content: "\e032";
}
.fui-checkbox-unchecked:before {
  content: "\e033";
}
.fui-checkbox-checked:before {
  content: "\e034";
}
.fui-calendar-solid:before {
  content: "\e022";
}
.fui-pause:before {
  content: "\e03b";
}
.fui-play:before {
  content: "\e03c";
}
.fui-check-inverted-2:before {
  content: "\e000";
}


.fix-btn {
    padding: 0 12px;
}
