<div class="row">
  <div class="col-lg-12">
    <h3 class="m-header"><%- T('Search result') %></h3>
    <ul class="list-group">
	  <% for(var i=0; i<data.length; i++) { var address=data[i]; %>
		 <li class="list-group-item">
		   <span><%- T('Address') %></span> <a href="#/tx/sendto/<%- address.addr %>"> <%- address.addr %></a> (<%- T(address.network) %>)
		   <% if(!data.isSelf) { %>
		   <span class="pull-right">
			 <a class="btn btn-link" href="#/tx/sendto/<%- address.addr %>"><%- T('Send') %></a>
		   </span>
		   <% } %>
		 </li>
		 <% } %>
    </ul>
  </div>
</div>

