<div class="row">
  <div class="col-lg-12 text-center">
    <h3><%- T('Reset Auth') %></h3>
    <hr>
  </div>
</div>

<div class="row">
  
  <div class="col-lg-6" style="padding-top: 10px">
    <div class="col-lg-8 col-lg-offset-2">
      <form action="#" onsubmit="return false;" autocorrect="off" autocomplete="off" autocapitalize="off" class="form-horizontal" role="form">
        
        <div class="form-group">
          <div id="resetAuthErrors" class="alert alert-danger hidden"></div>
        </div>
        
        <div class="form-group">
          <label for="resetAuthEmail" class="control-label"><%- T('Email Address') %></label>
          <input id="resetAuthEmail" type="email" placeholder="<%- T('Your email') %>" class="form-control" value="<%- data.email %>">
        </div>

        <div class="form-group ">
          <label for="resetAuthVerifyCode" class="control-label"><%- T('Verify Code') %></label>
          <input id="resetAuthVerifyCode" type="text" placeholder="<%- T('Check your email and input verify code from email') %>" class="form-control" value="<%- data.email %>">
        </div>

        <div>
          <button id="resetAuthVerifyBtn" class="btn btn-large btn-success" href="#" style="margin-top: 10px" onclick="richwallet.controllers.accounts.verifyResetAuthCode();"><i class="fa fa-undo"></i> <%- T('Reset Auth') %></button>
        </div>
        
      </form>
    </div>
  </div>
</div>
