<div class="row">
  <div class="col-lg-12 text-center">
    <h3><%- T('Settings') %></h3>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h3 style="color: #E00000" class="text-center"><%- T('Warning') %></h3>
    <h4><%= T("YOU MUST REMEMBER ANY CHANGES YOU MAKE HERE. If you forget your email or changed password, you will not be able to access your coin wallet, and the server admin <strong>WILL NOT</strong> be able to reset it. If you lose your login, you will lose your money, forever. Write it down if you have to. <strong>Don't forget it.</strong>") %></h4>
    <h4><%= T('It is also strongly recommended that you make a <a href="#/backup">backup of your current wallet</a> before making any changes to prevent possible loss of data.') %></h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3 text-center">
    <div id="changeDialog" class="alert hidden">
      <span id="changeMessage"></span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-lg-offset-2 text-center">
    <h3><%- T('Change Email') %></h3>

    <form role="form" onsubmit="richwallet.controllers.accounts.changeId(); return false;">
      <div class="form-group">
        <label for="email"><%- T('New email address') %></label>
        <input type="email" class="form-control" id="changeEmailNew" placeholder="<%- T('Your new email') %>">

        <label for="password"><%- T('Confirm password') %></label>
        <input type="password" class="form-control" id="changeEmailPassword" placeholder="<%- T('Current password') %>" autocomplete="off">
      </div>

      <div class="form-group hidden">
        <label for="email_active_code" class="control-label"><%- T('Email Activation Code') %></label>
        <input id="email_active_code" type="text" placeholder="<%- T('Input the activate code to ensure a real email.') %>" autocomplete="off" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary"><%- T('Change Email') %></button>
    </form>
  </div>
  <div class="col-lg-4 text-center">
    <h3><%- T('Change Password') %></h3>

    <form role="form" onsubmit="richwallet.controllers.accounts.changePassword(); return false;">
      <div class="form-group">
        <label for="currentPassword"><%- T('Current password') %></label>
        <input type="password" class="form-control" id="currentPassword" placeholder="<%- T('Current password') %>" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="newPassword"><%- T('New password') %></label>
        <input type="password" class="form-control" id="newPassword" placeholder="<%- T('New password') %>" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="confirmNewPassword"><%- T('Confirm new password') %></label>
        <input type="password" class="form-control" id="confirmNewPassword" placeholder="<%- T('Re-enter new password') %>" autocomplete="off">
      </div>
      <button type="submit" class="btn btn-primary"><%- T('Change password') %></button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-lg-offset-2" id="authKey">
    <h3 class="text-center"><%- T('Two Factor Auth') %></h3>
    <% if(richwallet.usingAuthKey == true) { %>
      <p><%- T('You are currently using Two Factor Authentication. If you would like to disable it, enter your auth code below and we will remove it') %>:</p>

      <div id="disableAuthDialog" class="alert hidden">
      </div>

      <form id="disableAuth" role="form" onsubmit="richwallet.controllers.accounts.disableAuth(); return false;">
        <div class="form-group">
          <label for="authCode"><%- T('Enter code to disable') %></label>
          <input class="form-control" type="password" id="disableAuthCode" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-danger"><%- T('Disable') %></button>
      </form>
    <% } else { %>
      <p><%- T('Two factor authentication allows you to require a code from your phone from Login. OpenblockWallet uses Google Authenticator, which you will need to download to use this.') %></p>

      <a class="btn btn-primary" href="javascript:richwallet.controllers.accounts.generateAuthQR();" id="generateAuthQR"><%- T('Generate QR Code to Scan') %></a>
    <% } %>
  </div>
</div>

