<style>
 .exchangePrice {
   padding-left: 5px;
  }
</style>
<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Send coins</h1>
      <hr>
  </div>
</div>


<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <div id="errors" class="alert alert-danger hidden"></div>
  </div>
</div>

<div class="row" style="padding-bottom: 20px;ss">
  <div class="col-lg-12 text-center">
    <h4>Your have
    <% var i=0; for(var network in data.balances) { 
       var b = data.balances[network];
       var delim = i++>0?', ':'';
       %>
<!--   <h4>You have <span id="availableBalance" class="addExchangePrice" style="color: #009933;"><%- b %> <%-  richwallet.config.networkConfigs[network].currency %></span> available to spend.</h4> -->
      <%- delim %><span id="availableBalance" class="addExchangePrice" style="color: #009933;"><%- b %> <%-  richwallet.config.networkConfigs[network].currency %></span>
    <% } %>
    available to spend.
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <form id="createSendForm" action="#" onsubmit="richwallet.controllers.tx.create(); return false;" class="form-horizontal" role="form">
      
      <div class="form-group hidden-lg">
        <label for="qrcodeinput" class="col-lg-5 control-label">Scan from QR Code
        <div class="col-lg-5">
          <input class="btn btn-large btn-info" type="file" id="qrcodeinput" name="qrcodeinput" accept="image/*" capture="camera" style="width: 110px">
        </div>
      </div>
      
      <div class="form-group">
        <label for="address" class="col-lg-5 control-label">To Address</label>
        <div class="col-lg-5">
          <input id="address" type="text" name="address" autocomplete="off" class="form-control" placeholder="BTC, LTC, and any other supported coin addresses" onchange="richwallet.controllers.tx.calculateFee();" value="<%- data.toaddress %>">
        </div>
      </div>
      <div class="form-group">
        <label for="amount" class="col-lg-5 control-label">Amount</label>
        <div class="col-lg-5">
          <input id="amount" type="text" name="amount" class="form-control" autocomplete="off" placeholder="0.00" style="display: inline; width: 100px" onchange="richwallet.controllers.tx.calculateFee();"> <span style="padding-left: 30px">
        </div>
      </div>
      
      <div class="form-group">
        <label for="" class="col-lg-5 control-label">Fee</label>
        <div class="col-lg-5">
          <input id="sendAmount" type="hidden" value="">
          <input id="changeAddress" type="hidden" value="">
          <input id="calculatedFee" type="hidden" value="<%- richwallet.controllers.tx.defaultFee %>">
	  <p id="fee" class="form-control" style="width: 100px;">Unknown</p>
        </div>
      </div>
      <div class="form-group">
        <label for="submit" class="col-lg-5 control-label hidden-sm hidden-xs"></label>
        <div class="col-lg-2 text-center">
          <button id="sendButton" type="submit" class="btn btn-default btn-lg btn-primary" class="form-control"><i class="fa fa-bitcoin"></i> Send</button>
        </div>
      </div>
    </form>
  </div>
</div>


<script>
	$("#qrcodeinput").on("change", richwallet.controllers.tx.scanQR);
</script>
